/* poor man's solarized:
 *
 * d33682 magenta
 * 859900 green
 * cb4b16 orange
 * dc323f red
 *
 * 002b36 dark dark blue
 * 073642 dark blue
 *
 * */

body {
	padding: 0;
	margin: 0;
	background: #073642;
	height: 100vh;
}

#page {
	flex: 1;
	display: flex;
	height: 100vh;
	flex-direction: row;
}
#subscriptions-anchor {
	flex: 0 0 20%;
	overflow-y: scroll;
}
#feed-anchor {
	flex: 2;
	height: 100vh;
}

#subscriptions-anchor .feeds {
	padding: 1em;
	background: #002b36;
	min-height: 100%;
}
.subscription {
	display: flex;
	align-items: center;
	padding-left: .5em;
	padding: .3em;
}
.sub-title {
	flex: 0 0 90%;
}
.sub-count {
	flex: 2;
	padding-left: .9em;
}
.tag {
	color: green;
}
/* FIXME :a1 */
.tag a:link,
.tag a:visited, 
.tag a:hover,
.tag a:active
{
	color: #cb4b16;
}

.tag .subscription a:link,
.tag .subscription a:visited,
.tag .subscription a:hover,
.tag .subscription a:active
{
	color: green;
}

.tag a.sub-show-all:link,
.tag a.sub-show-all:visited,
.tag a.sub-show-all:hover,
.tag a.sub-show-all:active
{
	float: right;
	color: #93a1a1;
}

a.grey:link,
a.grey:visited,
a.grey:hover,
a.grey:active
{
	color: #888888;
}
.subscription a.grey:link, /*whyyyy*/
.subscription a.grey:visited,
.subscription a.grey:hover,
.subscription a.grey:active
{
	color: #888888;
}
.tag .selected {
	background: #073642;
	border-width: 0px;
	border-radius: .25em;

}

.article.read {
}

.article {
	font-size: 1.2em;

	border-width: 0px;
	border-radius: .5em;

	color: #AAAAAA;
	color: #93a1a1;
	background: #002b36;

	padding: 1em;
	margin-bottom: 1em;
}
.article-info {
	display: flex;
/*
	align-items: center;
	align-items: baseline;
	**/
}
.date {
	flex: auto;
}
.article-status {
	margin-left: 1em;
	flex: auto;
}

.article .content {
	width: 75%;
	text-align: justify;
	padding-top: 1em;
}
.small {
	font-size: 0.75em;
	color: #888888;
}

#feed-page-wrapper {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
#feed-content {
	overflow-y: scroll;
	flex: 0 1 auto;
	height: 100%;
	padding-left: 2em;
	padding-right: 2em;
}

.feed-title-wrapper {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.feed-title, .feed-title-small {
	flex: 0 0 80%;
	font-size: 2.5em;
	font-weight: bold;
	color: #93a1a1;
	display: flex;
	align-items: center;
	align-items: baseline;
	/*  **/
}
.title-only {
	flex: 0 1 auto;
}
.feed-count {
	margin-left: 1em;
	flex: auto;
}
.feed-title-small {
	font-size: 1em;
}
.feed-title {
	font-size: 2em;

}

.feed-controls {
	flex: auto;
	text-align: right;
}
select {
	background: #073642;
	color: #93a1a1;
	border: none;
}

a:link,
a:visited,
a:hover,
a:active
{
	color: #cb4b16;
	text-decoration: none;
}


.article.saved a.title:link,
.article.saved a.title:visited,
.article.saved a.title:hover,
.article.saved a.title:active
{
	font-size: 1.2em;
	color: #dc323f;
	color: green;
	text-decoration: none;
}
.article a.title:link,
.article a.title:visited,
.article a.title:hover,
.article a.title:active
{
	font-size: 1.2em;
	color: #cb4b16;
	text-decoration: none;
}
.article.read a.title:link,
.article.read a.title:visited,
.article.read a.title:hover,
.article.read a.title:active
{
	font-size: 1.2em;
	color: #AAAAAA;
	color: #93a1a1;
	text-decoration: none;
}

#search-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);

}
#search {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 30%;
	background: #073642;
	padding: 1em;
	font-size: 1.2em;
	color: #073642;
	color: #859900;

	border-width: 0px;
	border-radius: .5em;
}
#search .first-result {
	color: #cb4b16;
	font-weight: bold;
}
#search input {
	width: 100%;
	padding: 0;
	margin-bottom: 0.5em;
	border-size: 0;
	border-style: none;
	font-size: 1.2em;
	background: #93a1a1;
	background: #AAAAAA;
}
.left {
	float: right;
}

.scraped img {
	max-width: 100%;
}

.video-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56%;
}
.video-wrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
