/* poor man's solarized:
 *
 * d33682 magenta
 * 859900 green
 * cb4b16 orange
 * dc323f red
 *
 * 002b36 dark dark blue
 * 073642 dark blue
 *
 * */

body {
	padding: 0;
	margin: 0;
	background: #073642;
	height: 100%;
}

#page {
	flex: 1;
	display: flex;
	height: 100vh;
	flex-direction: row;

	min-height: 0;
}
#subscriptions {
	flex: 0 0 20%;
	overflow-y: scroll;
}
#feed {
	flex: 2;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 1em;
	overflow-y: scroll;
}
#subscriptions .feeds {
	padding: 1em;
	background: #002b36;
	border-width: 0px;
	border-radius: .5em;
}
.subscription {
	padding-left: .5em;
	padding: .3em;
}
.tag {
	color: green;
}
.tag a:link,
.tag a:visited,
.tag a:hover,
.tag a:active
{
	color: #cb4b16;
}

.tag .subscription a:link,
.tag .subscription a:visited,
.tag .subscription a:hover,
.tag .subscription a:active
{
	color: green;
}

.tag a.sub-show-all:link,
.tag a.sub-show-all:visited,
.tag a.sub-show-all:hover,
.tag a.sub-show-all:active
{
	float: right;
	color: #93a1a1;
}

.tag .subscription a.grey:link,
.tag .subscription a.grey:visited,
.tag .subscription a.grey:hover,
.tag .subscription a.grey:active
{
	color: #888888;
}
.tag .selected {
	background: #073642;
	border-width: 0px;
	border-radius: .25em;

}

.article.read {
}

.article {
	font-size: 1.2em;

	border-width: 0px;
	border-radius: .5em;

	color: #AAAAAA;
	color: #93a1a1;
	background: #002b36;

	padding: 1em;
	margin-top: 1em;
}
.article .content {
	width: 75%;
	text-align: justify;
	padding-top: 1em;
}
.small {
	font-size: 0.75em;
	color: #888888;
}

#feed .feed {
	/* overflow-y: scroll; */
	/*position: fixed;
	position: absolute;*/
}

.feed-title-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
	width: 100%;
}
.feed-title, .feed-title-small {
	flex: 0 0 80%;
	font-size: 2.5em;
	font-weight: bold;
	color: #93a1a1;
	/* fixme margin-top should be 1em, ignored because span.
	 * change this to a flex */
}
.feed-title-small {
	font-size: 1em;
}
.feed-title {
	font-size: 2em;
}

.feed-controls {
	flex: auto;
	text-align: right;
}
select {
	background: #073642;
	color: #93a1a1;
	border: none;
}

a:link,
a:visited,
a:hover,
a:active
{
	color: #cb4b16;
	text-decoration: none;
}


.article.saved a.title:link,
.article.saved a.title:visited,
.article.saved a.title:hover,
.article.saved a.title:active
{
	font-size: 1.2em;
	color: #dc323f;
	color: green;
	text-decoration: none;
}
.article a.title:link,
.article a.title:visited,
.article a.title:hover,
.article a.title:active
{
	font-size: 1.2em;
	color: #cb4b16;
	text-decoration: none;
}
.article.read a.title:link,
.article.read a.title:visited,
.article.read a.title:hover,
.article.read a.title:active
{
	font-size: 1.2em;
	color: #AAAAAA;
	color: #93a1a1;
	text-decoration: none;
}

#search-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);

}
#search {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 30%;
	background: #073642;
	padding: 1em;
	font-size: 1.2em;
	color: #073642;
	color: #859900;

	border-width: 0px;
	border-radius: .5em;
}
#search .first-result {
	color: #cb4b16;
	font-weight: bold;
}
#search input {
	width: 100%;
	padding: 0;
	margin-bottom: 0.5em;
	border-size: 0;
	border-style: none;
	font-size: 1.2em;
	background: #93a1a1;
	background: #AAAAAA;
}
/*
	-moz-appearance: scrollbarbutton-down;
	-moz-appearance: scrollbarbutton-up;
*/
